   # Usando tabula para converter tabelas pdf to dataframe pandas

In [1]:
import tabula as tb
import pandas as pd

In [2]:
file_input = "pdfs/result_enare.pdf"

In [3]:
# Configure the area of the present table
fc = 28.35 # fator de conversão A4 
top = 0.1*fc 
left = 0.2*fc
bottom = 29*fc
width = 15*fc

# Read the pdf and make the area for extract data and export to a csv file
tb.convert_into(file_input, 'result.csv', output_format="csv",
                   lattice = True,
                   pages=['260-298'],
                   area= (top, left, bottom, width))

In [4]:
# Name for columns
col=['Nome', 'ID', 'Cirurgia Geral',
         'Clinica Medica', 'Pediatria',
         'Gineco.Obs', 'Med.Prev.Soci',
         'Nota_Obj']

### CheckPoint - Carga dos dados

In [60]:
data = pd.read_csv('result.csv')

In [61]:
# Deletando a coluna Unnamed: 8 
data.drop('Unnamed: 8', axis = 1, inplace=True)
data

,Vinícius Zidane Silva Nascimento,3890022852,7.00,10.00,13.00,10.00.1,14.00,54.00
0,Virgínia Araújo De Sousa,3890005926,14.00,15.00,11.00,16.00,17.00,73.00
1,Virginia Batista Costa,3890027823,14.00,13.00,9.00,15.00,15.00,66.00
2,Virgínia Delarmelina Vargas\rMação,3890011441,9.00,9.00,10.00,13.00,15.00,56.00
3,Virgínia Ferreira De Souza,3890014960,12.00,13.00,9.00,18.00,17.00,69.00
4,Virna Ribeiro Gomes Costa\rMeirelles,3890000386,12.00,15.00,16.00,14.00,15.00,72.00
...,...,...,...,...,...,...,...,...
2597,Guilherme Thomé De Carvalho,0850032494,80.00,80.00,NaN,NaN,NaN,NaN
2598,Karina Naomi Sung,0850014877,63.75,63.75,NaN,NaN,NaN,NaN
2599,Natalia Dos Reis Dias Da Silva,0850026565,57.50,57.50,NaN,NaN,NaN,NaN
2600,Victor Marques Pereira Diniz,0850030876,67.50,67.50,NaN,NaN,NaN,NaN
2601,- PRM ANO ADICIONAL - ORTOPEDIA E TRAUMATOLOGI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Renomeando os nomes das variáveis na coluna 
data.columns = col

### Tratamento do dataframe

In [63]:
# Excluindo algumas linhas que não pertencem ao dataframdata
data.drop(labels=range(0,30), axis=0, inplace=True)
data.head()

,Nome,ID,Cirurgia Geral,Clinica Medica,Pediatria,Gineco.Obs,Med.Prev.Soci,Nota_Obj
30,Abraão Moreno Romano,3900007021,12.00,15.00,10.00,17.00,15.00,69.00
31,Adam Wolff Pomin,3900016376,8.00,12.00,8.00,10.00,16.00,54.00
32,Adelson Silvestre Júnior,3900023328,15.00,16.00,12.00,18.00,17.00,78.00
33,Admir João Basso Junior,3900014563,15.00,15.00,13.00,14.00,17.00,74.00
34,Affonso Maximiliano Ribeiro\rBianchini,3900029191,12.00,14.00,14.00,16.00,17.00,73.00

In [64]:
# Verificando o final do dataframe 
data.tail(50)

,Nome,ID,Cirurgia Geral,Clinica Medica,Pediatria,Gineco.Obs,Med.Prev.Soci,Nota_Obj
2552,Vívian Freire Soares,3910001123,15.00,14.00,13.00,16.00,16.00,74.00
2553,Welder Vinicius De Aquino\rCampos,3910028599,11.00,14.00,12.00,15.00,17.00,69.00
2554,Wesley Rafael Cruz Dos Reis,3910017559,13.00,17.00,17.00,15.00,19.00,81.00
2555,Whilyana Teixeira Dias Tavares,3910021092,14.00,13.00,14.00,17.00,17.00,75.00
2556,William Costa Da Silva,3910032660,9.00,10.00,10.00,9.00,15.00,53.00
2557,William Johannsen Casé Soares,3910013485,13.00,14.00,10.00,11.00,18.00,66.00
2558,Wolney Costa Gama,3910028724,13.00,15.00,14.00,18.00,16.00,76.00
2559,Yago Abreu De Oliveira,3910024576,13.00,13.00,15.00,12.00,18.00,71.00
2560,Yann Oliveira Guimarães,3910025244,9.00,15.00,12.00,16.00,18.00,70.00
2561,Yan Tavares Bandeira Lopes,3910021805,12.00,12.00,12.00,14.00,17.00,67.00
2562,Yasmim Nascimento Ferreira,3910031971,10.00,11.00,13.00,16.00,16.00,66.00
2563,Yasmin Ferreira Machado,3910009242,16.00,14.00,13.00,14.00,18.00,75.00
2564,Yvis Morais Ferrari,3910022001,12.00,12.00,10.00,16.00,19.00,69.00
2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2566,- PRM ACESSO DIRETO - RADIOTERAPIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2567,NOME,INSCRIÇÃO,Cirurgia Geral,Clínica Médica,Pediatria,Ginecologia e\rObstetrícia,Medicina\rPreventiva e\rSocial,NOTA\rOBJETIVA
2568,Claudia Cristina Ferreira Alpes\rDe Souza,3920018400,13.00,8.00,11.00,13.00,15.00,60.00
2569,- PRM ANO ADICIONAL - CIRURGIA TORÁCICA R3 - E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2570,NOME,INSCRIÇÃO,Cirurgia Torácica,NOTA OBJETIVA,NaN,NaN,NaN,NaN
2571,Marcela Almeida Alves,0800008477,71.25,71.25,NaN,NaN,NaN,NaN
2572,- PRM ANO ADICIONAL - CLÍNICA MÉDICA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2573,NOME,INSCRIÇÃO,Clínica Médica,NOTA OBJETIVA,NaN,NaN,NaN,NaN
2574,Adrian Ferreira Sial,0810004903,80.00,80.00,NaN,NaN,NaN,NaN
2575,Alberto Eduardo Dias,0810008267,86.25,86.25,NaN,NaN,NaN,NaN
2576,Alice Marcelle De Souza Ferraz,0810011758,91.25,91.25,NaN,NaN,NaN,NaN
2577,Beatriz Cordeiro Santos,0810000852,77.50,77.50,NaN,NaN,NaN,NaN
2578,Bianca Rodrigues Castelo\rBranco Rocha,0810021957,78.75,78.75,NaN,NaN,NaN,NaN
2579,Guilherme Rego Da Cunha\rPedrosa,0810024883,76.25,76.25,NaN,NaN,NaN,NaN
2580,João Vitor Cândido Pimentel,0810007506,78.75,78.75,NaN,NaN,NaN,NaN
2581,Lia Martins Corrêa,0810008080,78.75,78.75,NaN,NaN,NaN,NaN
2582,Maria Luiza De Oliveira Ferreira\rLima,0810030959,72.50,72.50,NaN,NaN,NaN,NaN
2583,Mariana Arruda Leal Pires,0810029468,77.50,77.50,NaN,NaN,NaN,NaN
2584,- PRM ANO ADICIONAL - ECOCARDIOGRAFIA R3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2585,NOME,INSCRIÇÃO,Cardiologia,NOTA OBJETIVA,NaN,NaN,NaN,NaN
2586,Fernanda Maria Franco Castro,0820006752,82.50,82.50,NaN,NaN,NaN,NaN
2587,Juliano Vill Lovati,0820010238,82.50,82.50,NaN,NaN,NaN,NaN
2588,- PRM ANO ADICIONAL - GINECOLOGIA E OBSTETRÍCI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2589,NOME,INSCRIÇÃO,Ginecologia E\rObstetrícia,NOTA OBJETIVA,NaN,NaN,NaN,NaN
2590,Paulo Muriel Nunes De Mamedio,0830032892,83.75,83.75,NaN,NaN,NaN,NaN
2591,Priscilla Elizabeth Vieira\rFernandes,0830012423,72.50,72.50,NaN,NaN,NaN,NaN
2592,- PRM ANO ADICIONAL - OFTALMOLOGIA R4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2593,NOME,INSCRIÇÃO,Oftalmologia,NOTA OBJETIVA,NaN,NaN,NaN,NaN
2594,Bruno Vasconcelos Coimbra,0850001149,76.25,76.25,NaN,NaN,NaN,NaN
2595,Caio Meireles David,0850028520,60.00,60.00,NaN,NaN,NaN,NaN
2596,Daniella Pedra Vasconcellos,0850025197,85.00,85.00,NaN,NaN,NaN,NaN
2597,Guilherme Thomé De Carvalho,0850032494,80.00,80.00,NaN,NaN,NaN,NaN
2598,Karina Naomi Sung,0850014877,63.75,63.75,NaN,NaN,NaN,NaN
2599,Natalia Dos Reis Dias Da Silva,0850026565,57.50,57.50,NaN,NaN,NaN,NaN
2600,Victor Marques Pereira Diniz,0850030876,67.50,67.50,NaN,NaN,NaN,NaN
2601,- PRM ANO ADICIONAL - ORTOPEDIA E TRAUMATOLOGI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# Exluindo linhas do final do dataframe
data.drop(labels=range(2565, 2602), axis=0, inplace= True)

In [67]:
data.tail()

,Nome,ID,Cirurgia Geral,Clinica Medica,Pediatria,Gineco.Obs,Med.Prev.Soci,Nota_Obj
2560,Yann Oliveira Guimarães,3910025244,9.00,15.00,12.00,16.00,18.00,70.00
2561,Yan Tavares Bandeira Lopes,3910021805,12.00,12.00,12.00,14.00,17.00,67.00
2562,Yasmim Nascimento Ferreira,3910031971,10.00,11.00,13.00,16.00,16.00,66.00
2563,Yasmin Ferreira Machado,3910009242,16.00,14.00,13.00,14.00,18.00,75.00
2564,Yvis Morais Ferrari,3910022001,12.00,12.00,10.00,16.00,19.00,69.00

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 30 to 2564
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome            2535 non-null   object
 1   ID              2534 non-null   object
 2   Cirurgia Geral  2534 non-null   object
 3   Clinica Medica  2534 non-null   object
 4   Pediatria       2534 non-null   object
 5   Gineco.Obs      2534 non-null   object
 6   Med.Prev.Soci   2534 non-null   object
 7   Nota_Obj        2534 non-null   object
dtypes: object(8)
memory usage: 158.6+ KB

In [73]:
# Verificando a presença de na no dataframe
data.isnull().sum()

Nome              0
ID                0
Cirurgia Geral    0
Clinica Medica    0
Pediatria         0
Gineco.Obs        0
Med.Prev.Soci     0
Nota_Obj          0
dtype: int64

In [69]:
# Localizando onde está a observação com valor na
data[data['ID'].isnull()]

,Nome,ID,Cirurgia Geral,Clinica Medica,Pediatria,Gineco.Obs,Med.Prev.Soci,Nota_Obj
1952,- PRM ACESSO DIRETO - RADIOLOGIA E DIAGNÓSTICO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Removendo o valor na
data.dropna(inplace=True)
data.isna().sum()

Nome              0
ID                0
Cirurgia Geral    0
Clinica Medica    0
Pediatria         0
Gineco.Obs        0
Med.Prev.Soci     0
Nota_Obj          0
dtype: int64

# Aqui há uma dificuldade que precisa ser resolvida: 
1º Há somente uma maneira de excluir linhas, é só pela função drop? Consultar a documentação do pandas para verficar isso! 
2º Verificar as formas de mapeamento para melhor operações no dataframe!

In [88]:
# Alterando o typo de dados das colunas [ID, Cirurgia Geral, Clinica Medica, Pediatria, Gineco.Obs, Med.Prev.Soci. Nota_Obj]
num_cols = ['ID', 'Cirurgia Geral', 'Clinica Medica', 'Pediatria', 'Gineco.Obs', 'Med.Prev.Soci', 'Nota_Obj']

data[num_cols] = data[num_cols].apply(pd.to_numeric)

ValueError: Unable to parse string "INSCRIÇÃO" at position 1920

## Example of tabular

In [ ]:
import tabula as tb
import pandas as pd

In [ ]:
file = 'pdfs/lattice-timelog-multiple-pages.pdf'
# area = [top,left,bottom,width]
fc = 28.35 # fator de conversão A4 
top = 14*fc 
left = 0.7*fc
bottom = 24.7*fc
width = 21.3*fc
df = tb.read_pdf(file, lattice=True, pages=2, area=(top, left, bottom, width))
df

In [ ]:
left

## Other way, using the PyPDF2